<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Portfolio generateur
    </title>
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <script src="https://cdn.tailwindcss.com">

    </script>

    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: [ 'Instrument Sans', 'sans-serif' ],
            },
            colors: {
              primary: {
                DEFAULT: '#5A45FF',
                lighter: '#a599ff',
              },
            },
          },
        },
      }
    </script>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>
  <body class="min-h-screen w-screen font-sans ">
    @include('components/header')


    <main class="container mx-auto py-12">
    @if(user)
    <div class="w-full text-2xl font-semibold ">👋 Bonjour {{ user.nickName}} </div>
    @else

    @endif
      <div class="grid grid-cols-2 gap-4 content-center place-content-center my-24">
        <div class=" p-2 pt-10">
          <h2 class="text-4xl font-semibold mb-6">
            Créez votre portfolio en un clin d'œil
          </h2>
          <p class="text-lg mb-8">
            Utilisez notre générateur pour créer un portfolio professionnel et mettez en valeur vos compétences en développement.
          </p>
              @if(user)

            @else
<a href="/github/redirect" class="bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-600">Démarrer</a>
              @endif
        </div>
        <div >
          <img src="{{ asset('img/Github logo.png') }}" alt="Github image " class="w-1/2 m-auto" />
        </div>

      </div>

      <div class="bg-gray-900 text-gray-100 rounded-lg p-4 overflow-x-auto shadow-lg">
        <pre class="text-sm leading-relaxed">
          <code>
            <span class="text-blue-500">// Ceci est un exemple de code affiché avec Tailwind CSS</span>
            const greet = (name) => {
              return `Hello, ${name}!`;
            }

            console.log(greet('AdonisJS')); // Output: Hello, AdonisJS!
          </code>
        </pre>
      </div>


    </main>



  </body>
</html>
