<!DOCTYPE html>
<html>
@include('base/head.edge')

<body class="min-h-screen w-screen font-sans bg-zinc-200 ">
  @include('components/header')


  <main class="container mx-auto py-12">
    @if(user)
    <div class="w-full text-2xl font-semibold ">👋 Bonjour {{ user.nickName}} </div>
    @else

    @endif
    <div class="grid grid-cols-2 gap-4 content-center place-content-center my-24">
      <div class=" p-2 pt-10">
        <h2 class="text-4xl font-semibold mb-6">
          Créez votre portfolio en un clin d'œil
        </h2>
        <p class="text-lg mb-8">
          Utilisez notre générateur pour créer un portfolio professionnel et mettez en valeur vos compétences en
          développement.
        </p>
        @if(user)

        @else
        <a href="/github/redirect" class="bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-600">Démarrer</a>
        @endif
      </div>
      <div>
        <img src="{{ asset('img/Github logo.png') }}" alt="Github image " class="w-1/2 m-auto" />
      </div>

    </div>

    <div class="bg-gray-900 text-gray-100 rounded-lg p-4 overflow-x-auto shadow-lg">
      <pre class="text-sm leading-relaxed">
          <code>
            <span class="text-blue-500">// Ceci est un exemple de code</span>
           $(document).ready(function() {
                $('#fetchData').click(function() {
                    $.ajax({
                        url: 'https://jsonplaceholder.typicode.com/posts/1', // URL de l'API
                        method: 'GET',
                        success: function(data) {
                            $('#dataContainer').html(`
                               ${data.title}
                            `);
                        },
                        error: function() {
                            $('#dataContainer').html('<p>Erreur lors de la récupération des données.</p>');
                        }
                    });
                });
            });
          </code>
        </pre>
    </div>


  </main>

  @include('base/lucid.edge')


</body>

</html>
