<!DOCTYPE html>
<html>
@include('base/head.edge')
<body class="bg-zinc-50">
@include('components/header')

<form>
  <div class="w-1/2 m-auto  mt-24 ">
    <label for="email">Email</label>
    <input id="email" name="email" type="email" class="input-custom" placeholder="Jhone Doe "  />

  </div>
    <div class="w-1/2 m-auto  mt-10 ">
      <label for="password">Password</label>
      <input id="password" name="password" type="password" class="input-custom" placeholder="***"  />

    </div>
    <div class="w-1/2 m-auto mt-10 flex justify-between ">
      <button class="bg-blue-300 p-4 rounded-full ">Se Connecter </button>
      <a href="" class="p-2 rounded-xl "> Avec Github</a>

    </div>

</div>
</form>

</body>
</html>
